.about-wrapper{
  
  .about-text{
    padding: 1rem;
    h1{
      padding-bottom: 2rem;
      font-size: xx-large;
    }

    h3{
      padding-bottom: 1rem;
    }
  }
  
  .about-image{
      text-align: center;
      position: relative;
    img{
      width: 300px
    }
  }
}