.about-wrapper{
  .about-text{
    padding: 2rem;
    background-color: $third-color;
    h1{
      padding-bottom: 2rem;
      font-size: xx-large;
    }

    h3{
      padding-bottom: 1rem;
    }
  }
  
  .about-image{
    img{
      width: 100vw;
      max-width: 425px;
    }
  }
}

.span-color{
  color: $primary-color;
  font-size: larger;
}