

.contact-info{
  padding: 1rem;
}

.contact-form{
  
  form{


    div{
      padding: 1rem;
      p{
        font-weight: 800;
      }


      input, textarea{
        border: none;
        background-color: $primary-color;
        border-bottom: 1px solid $secondary-color;
      }

      input::placeholder, textarea::placeholder{
        color: $secondary-color;
        font-weight: 800;
      }
    }
  }
}
