

.contact-info{
  padding: 1rem;
}

.contact-form{
  
  form{


    div{
      padding: 1rem;
      p{
        font-weight: 800;
      }


      input, textarea{
        border: none;
        background-color: lightgray;
        border-bottom: 1px solid black;
      }

      input::placeholder, textarea::placeholder{
        color: black;
        font-weight: 800;
      }
    }
  }
}
