@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
$primary-color: #002952;
$secondary-color:#ffffff;

$mobileM: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopLarge: 1440px;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $secondary-color;
  font-family: 'Open Sans', sans-serif;
}