.contact{
  margin-top: 7rem;
}

.contact-info-wrapper{
  background-color: $primary-color;
  padding: 5rem 1rem;
  min-height: 250px;
  .contact-text{
    h1{
      color: white;
      font-weight: 800;
      font-size: x-large;
      padding-bottom: 3rem;
    }

  }

  .contact-info{
    p{
     color: white; 
     padding-bottom: .25rem;
     font-weight: 900;
    }
  }
}
.contact-form{
  
  form{
    background-color: white;
    min-height: 400px;
    &:nth-child(1){
      padding-top: 8%;
    }
    div{
      padding: .5rem;
      text-align: center;
      p{
        font-weight: 800;
      }


      input, textarea{
        background-color: rgb(255, 255, 255);
        border: 1px solid black;
        padding: .5rem;
        min-width: 250px;

      }

      input::placeholder, textarea::placeholder{
        color: black;
        font-weight: 900;
      }
    }
    .contact-button button{
      min-width: 250px;
      padding: .5rem;
      background-color: $primary-color;
      color: white;
      border: none;

      &:hover{
        background-color: rgb(113, 142, 118);
      }

      &:active{
        background-color: rgb(104, 176, 152);
      }
    }

  }
}
