footer{
  margin-top: 10rem;
  background-color: $third-color;
}
.footer-logo p{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding: 2rem;
  color: $primary-color;
  
}
.footer-ul{

}
.footer-ul ul{
  display: flex;
  list-style: none;
  justify-content: center;
  padding-bottom: 2rem;
}
.footer-a:nth-child(1),
.footer-a:nth-child(2),
.footer-a:nth-child(3) {
  border-right: 1px solid $primary-color;
  

}
.footer-a{
  padding: 0 10px;
  text-decoration: none;
}
.footer-a:hover{
  color: $primary-color;
}

.footer-a:active{
  color: $third-color;
}


