

body{
  background-color: $secondary-color;
}

.nav{
  display: flex;
  flex-direction: column;
  top: 10px;
  left: 10px;
  position:static;
  .logo{
    font-family: 'Montserrat', sans-serif;
    padding: .75rem;
    font-size: x-large;
    span{
      color: $primary-color;
      min-width: 500px;
    }

    #name{
      font-weight: 600;
      
    }

    #last-name{
      font-weight: 200;
      margin-left: -5px;
    }
    
  }

  //css for displaying navbar responsive menu

  button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;

    i{
      font-size: x-large;
      color: $primary-color;
      position: absolute;
      top: 1rem;
      right: .75rem;
    }

    .toggle-open{
      display: block;

    }
    .toggle-close{
      display: none;
    }

    &.open .toggle-open{
      display: none;
    }

    &.open .toggle-close{
      display: block;
    }
  }


  &-links{
    display: none;
    background-color: rgba(0, 0, 0, 0.771);


    ul{
      flex-direction: column;
      text-align: center;
      
      
      li{
        list-style-type: none;
        padding: .5rem;
        

        &:hover{
          background-color: gray;

        }
        a{
          color: $primary-color;
          text-decoration: none;
          font-size: x-large;
          display: block;
        }
      }
    }
  }

  &-links.open{
    display: block;
    
  }
}

.homepage{
  h3{
    color: black;
    position: absolute;
    top: 54%;
    left: 16%;
  }
}

