

body{
  background-color: lightgray;
  position: fixed  
}

.hero{
  background-image: url('../../images/laptopDesk.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}

.nav{
  display: flex;
  flex-direction: column;
  .logo{
    font-family: 'Montserrat', sans-serif;
    padding: .75rem;
    font-size: x-large;
    span{
      color: white;

    }

    #first-name{
      font-weight: 600;
    }

    #last-name{
      font-weight: 200;
      margin-left: -5px;
    }
    
  }

  //css for displaying navbar responsive menu

  button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;

    i{
      font-size: x-large;
      color: $secondary-color;
      position: absolute;
      top: .75rem;
      right: .75rem;
    }

    .toggle-open{
      display: block;

    }
    .toggle-close{
      display: none;
    }

    &.open .toggle-open{
      display: none;
    }

    &.open .toggle-close{
      display: block;
    }
  }


  &-links{
    display: none;
    background-color: rgba(0, 0, 0, 0.771);

    ul{
      flex-direction: column;
      text-align: center;
      
      li{
        list-style-type: none;
        padding: .5rem;

        &:hover{
          background-color: #236eba;
        }
        a{
          color: $secondary-color;
          text-decoration: none;
          font-size: x-large;

        }
      }
    }
  }

  &-links.open{
    display: block;
    
  }


 
}

.homepage{

  &-text {
    font-size: xx-large;
    text-align: center;
    min-height: 65px;
    margin: 8rem auto 8rem auto;
    width: 320px;
    
    h1{
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      font-size: 50px;
      color:white;
      background-color: rgba(0, 0, 0, 0.281);

    }
  }

  &-images{
    background: linear-gradient($primary-color , rgb(77, 127, 163), $primary-color);
    padding: 6rem 0 8rem 0;
    
  
  &-laptop{
    width: 100vw;

  }
}
  h3{
    color: black;
    position: absolute;
    top: 54%;
    left: 16%;
  }
}

