

body{
  background-color: $secondary-color;
}

.nav{
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 5;
  .logo{
    font-family: 'Montserrat', sans-serif;
    padding: .75rem;
    margin-left: 1rem;
    font-size: x-large;
    span{
      color: $primary-color;
      min-width: 500px;
    }

    #name{
      font-weight: 600;
      
    }

    #last-name{
      font-weight: 200;
      margin-left: -5px;
    }
    
  }

  //css for displaying navbar responsive menu

  button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;

    i{
      font-size: x-large;
      color: $primary-color;
      position: absolute;
      top: 1rem;
      right: .75rem;
    }

    .toggle-open{
      display: block;

    }
    .toggle-close{
      display: none;
    }

    &.open .toggle-open{
      display: none;
    }

    &.open .toggle-close{
      display: block;
    }
  }

  .links-bg-color{
    background-color:  #000000e1;
  }

  &-links{
    display: none;
    background-color: #000000e1;


    ul{
      flex-direction: column;
      text-align: center;
      
      
      li{
        list-style-type: none;
        padding: .5rem;
        

        &:hover{
          background-color: rgba(128, 128, 128, 0.525);

        }
        a{
          color: $primary-color;
          text-decoration: none;
          font-size: x-large;
          display: block;
        }
      }
    }
  }

  &-links.open{
    display: block;
    
  }
}
.links-bg-color{
  background-color:  #000000e1;
}

.homepage{
  h3{
    color: black;
    position: absolute;
    top: 54%;
    left: 16%;
  }
}

//background video


.video-container{
  height: 100vh;
  width: 100vw;
  overflow: auto;
  overflow: hidden;
  position: relative;
}

.video-container video{
  z-index: -1;
  position: absolute;
  // min-width: 100vw;
  // min-height: 100vh;
  height: 100vh;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
