@media (min-width: $mobileM){
  //homepage

  .homepage{
    &-text{
      margin-top: 6rem;
      
      h1{
        font-size: 66px;
      }
    }
      
    }
  

  //projects
    
  


  //skills
  .skill-cards{
    column-count: 2;
  }


  //about me
  .about{
    margin: auto;
  }
  .about-text{
    max-width: 425px;
    margin: auto;
  }

  .about-image{
    text-align: center;
    
  }

  //contact
  .contact{
    text-align: center;
  }
  
}


@media (min-width: $tablet){
  //homepage
  .homepage{
    &-text{
      margin-top: 10rem;
    }
  }
  .nav{
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-links{
    display: flex;
    background-color: transparent;
    ul{
    display: flex;
    flex-direction: row;
    }

  }
  .responsive-menu-btn{
    display: none;
  }



  .hero{
    height: 85vh;

  }


  //projects
  .projects{
    margin-top: 8rem;
  }
  .projects-list{

    .project-wrapper:nth-child(1){
      margin-top: 0;

    }
  .project-wrapper{
    margin: 10rem auto;
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    

    img, video{
      width: 500px;
    }
  
  .project-text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .buttons{
      text-align: left;
      }
    }
  }
}
  //skills

  .skill-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }  
  //contact

  .contact{
    display: flex;
  }
  .contact-info-wrapper{
    min-width: 50%;
  }
  .contact-form{
    min-width: 50%;

    form{
    padding-top: 1px;
    }
  }
}


  @media (min-width: $laptop){
    //homepage
    .hero{
      height: 100vh;
    }

    
    //about

    .about-wrapper{
      display: flex;
      justify-content: center;
      background-color: $third-color;
      width: 60rem;
      margin: auto;
      .about-text{
        padding: 4.5rem 1rem;
        background-color: transparent;

      }

    .about-image{
      margin-right: 0;

      img, video{
        height: 100%;

      }
    }
    }
  }
