@media (min-width: $mobileM){
  //homepage

  .homepage{
    &-text{
      margin-top: 6rem;
      
      h1{
        font-size: 66px;
      }
    }
      
    }
  

  //projects

  .projects-list{
    display: grid;
    column-gap: 20px;

    .project-wrapper{
      max-width: 300px;

      img{
        max-width: 300px;
      }
    }
  }


  //skills
  .skill-cards{
    column-count: 2;
  }


  //about me
  .about{
    margin: auto;
  }
  .about-text{
    max-width: 425px;
    margin: auto;
  }

  .about-image{
    text-align: center;
    
  }

  //contact
  .contact{
    text-align: center;
  }
  .contact-info{
    
  }

}


@media (min-width: $tablet){
  //homepage
  .homepage{
    &-text{
      margin-top: 10rem;
    }
  }
  .nav{
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-links{
    display: flex;
    background-color: transparent;
    ul{
    display: flex;
    flex-direction: row;
    }

  }
  .responsive-menu-btn{
    display: none;
  }



  .hero{
    height: 85vh;

  }


  //projects

  .projects-list{
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  //skills

  .skill-cards{
    column-count: 4;
  }

  //contact

  .contact{
    display: flex;
  }
  .contact-info-wrapper{
    min-width: 50%;
  }
  .contact-form{
    min-width: 50%;

    form{
      &:nth-child(1){
        padding-top: 15%;
      }
    }
  }
}


  @media (min-width: $laptop){
    //homepage
    .hero{
      height: 100vh;
    }

    
    //about

    .about-wrapper{
      display: flex;
      justify-content: center;
      background-color: rgb(255, 255, 255);
      width: 60rem;
      margin: auto;
      .about-text{
        padding: 4.5rem 1rem;

      }

    .about-image{
      margin-right: 0;

      img{
        height: 100%;

      }
    }
    }
  }
