@media (min-width: $mobileM){
  //homepage

  .homepage{
    &-text{
      margin-top: 6rem;
      
      h1{
        // font-size: 66px;
      }
    }
      
    }
  }

  //projects

  .projects-list{
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;

    .project-wrapper{
      max-width: 300px;

      img{
        max-width: 300px;
      }
    }
  }


  //skills
  


  //about me
  .about{
    margin: auto;
  }
  .about-text{
    max-width: 425px;
    margin: auto;
  }

  .about-image{
    text-align: center;
    img{
      max-width: 425px;

    }
  }

  //contact
  .contact{
    text-align: center;
  }
  .contact-info{
    text-align: left;
    margin: auto;
    width: 230px;
  }

}


@media (min-width: $tablet){
  //homepage
  .homepage{
    &-text{
      margin-top: 10rem;
    }
  }
  .nav{
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-links{
    display: flex;
    background-color: transparent;
    ul{
    display: flex;
    flex-direction: row;
    }

  }
  .responsive-menu-btn{
    display: none;
  }



  .hero{
    height: 85vh;

  }
}