

.projects-list{

//make new class for transition elemtns to be toggled so they dont have a slow transition when they are resized

  .project-wrapper{
    text-align: center;
    background-color: $third-color;
    width: 90vw;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    
    

    img{
      width: 90vw;

    }

    .project-text-wrapper{
      text-align: left;

      h3{
        color: black;
        padding: 1rem;
        font-size: larger;
        

      }
      p{
        color: black;
        padding: .5rem 1rem;

      }

      .buttons{
        text-align: center;
        padding: 1rem;

        button{
          border: none;
          background-color: $primary-color;
          padding: .25rem .5rem;
          font-size: large;
          font-weight: 600;
          color: white;

          &:hover{
            background-color: rgb(22, 35, 117);
          }

          &:active{
            background-color: rgb(98, 96, 224);
          }
        }
        

      }
    }
  }
}