.projects-list{

//make new class for transition elemtns to be toggled so they dont have a slow transition when they are resized

  .project-wrapper{
    text-align: center;
    background-color: #cccccc;
    width: 90vw;
    margin: 1rem auto;
    

    img{
      width: 90vw;

    }

    .project-text{
      text-align: left;

      h3{
        color: $primary-color;
        padding: 1rem;

      }
      p{
        color: $primary-color;
        padding: .5rem 1rem;

      }

      .buttons{
        text-align: center;
        padding: 1rem;

        button{
          border: none;
          background-color: $primary-color;
          padding: .25rem .5rem;
          font-size: large;
        }
        

      }
    }
  }
}