
.skill-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10%;
    padding: 10% 0;
    background-color: white;
  
  .skills-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;

    img{
      width: 150px;
      justify-content: start;
    }
    p{
      text-align: center;
      padding: 1rem 0 2rem 0;
    }
  }
}

.skill-4{
  justify-content: space-between;
  p{
    
  }
}
