
.skill-cards{
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  column-count: 2;

  .skills-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 150px;
      justify-content: start;
    }
    p{
      text-align: center;
    }
  }
}
