@import 'config', 'homepage', 'projects', 'animations', 'skills', 'about', 'contact', 'media-queries';



// title css for all the subtitles

.sub-title{
  text-align: center;
  font-size: x-large;
  padding: 5rem 0;
}


.video-container{
  height: 100vh;
  width: 100vw;
  overflow: auto;
  overflow: hidden;
  position: relative;
}

.video-container video{
  z-index: -1;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
