@import 'config', 'homepage', 'projects', 'animations', 'skills', 'about', 'contact', 'media-queries', 'footer';



// title css for all the subtitles

.sub-title{
  text-align: center;
  font-size: x-large;
  padding: 5rem 0;
}
