@import 'config', 'homepage';

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.hidden-left{
  opacity: 0;
  transition: all 1s;
  transform: translateX(-100%);
  filter: blur(10px);
}
.hidden-right{
  opacity: 0;
  transition: all 1s;
  transform: translateX(100%);
  filter: blur(10px);
}

.show{
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);

}